html

  head
    title Fragole - FRAmework for Gamified Online Learning Environments

    //- UI / JS Librarys
    link(rel='stylesheet', href='semantic.min.css')
    link(rel='stylesheet', href='css/fragole.css')
    script(src="js/jquery.min.js")
    script(src="semantic.min.js")
    script(src="js/easeljs.min.js")
    script(src="js/tweenjs.min.js")
    //script(src="http://michel-laptop:81/eureca.js")
    script(src="http://192.168.178.62:81/eureca.js")
    //- eureca.io => RPC

    //- JS APIs
    script(src="js/Fragole.js")

  body
    include ./dashboard.pug
    div(class="pusher")
      canvas#board_canvas(style="z-index:0; top: 0; left: 0; position:fixed; width: 100vw; height: 100vh;")
      div#board_div(style="z-index: 1; top:0; left:0; width: 100vw; height: 100vh;")
      div(class="large ui black top attached labeled icon button" style="position:absolute; bottom:0px; left:10px" onClick="$('.ui.sidebar').sidebar('toggle');")
            i(class="chevron up icon")
            |#{player}
    script.
      function sendChat(player) {
          var msg = $('#chat_input').val();
          $('#chat_input').val("");
          if (msg) {
              rpcServer.send_chat(player, msg);
          }
      }

      $( function () {
          init();
          $('.menu .item').tab();
          $('.ui.sidebar').sidebar('setting', 'dimPage', false)
                          .sidebar('setting', 'closable', false);
      });
