#centered {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.middled {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40em;
  height: 20em;
  pointer-events:auto;

}

.roundedsquare {
    text-align: center;
    border-radius: 15px;
    border: 3px solid white;
    padding: 20px;
    margin: auto;
    width: 100px;
    height: 100px;
    font-size: 4vw;
}

.roundedsquare p {
 position: relative;
 float: left;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

#log_feed {
    height: 20vh;
    overflow-y: scroll;
}

#chat_feed {
    height: 8vw;
    margin-bottom: 0px;
    overflow-y: scroll;
}

#chat_btn {
    margin-top: 0px;
}

#dashboard {
    height:  33vh;
}

#dashboard_content {
    padding-top: 15px;
    padding-left: 30px;
}

.rating_label {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    text-align: center;
}

.ui.modal .actions > .button {
  margin: 0.2em;
}
