if activate == 'on'
  div(id=contentId class="ui " +  color + " button" onClick="rpcServer.click_" + id + "(gameboard.clientId);"  style="position:absolute; top:" + y + "; left:" + x + ";") #{label}
else
  div(id=contentId class="ui disabled" +  color + " button" style="position:absolute; top:" + y + "; left:" + x + ";") #{label}
