div(id=msg_id, class="event"  style="padding-top: 0px; padding-bottom: 0px;")
   div(class="content"  style="padding-top: 0px; padding-bottom: 0px;")
     div(class="summary" style="color: white;") #{player}: #{msg}
