unless result
  div(id=contentId class="ui centered basic modal")
    div(class="ui one column stackable center aligned page grid")
        div(class="column twelve wide")
            div(class="ui inverted icon header")
                i(class="cube icon")
                | Würfeln
            div(class="content")
                p Klicke "Würfeln" um zu würfeln.
                br
            div(class="actions")
                div(class="ui green ok inverted button" onClick="rpcServer['roll_" + id + "'](gameboard.clientId);")
                    i(class="checkmark icon")
                    | Würfeln
            script.
                function afterAddDomContent() {
                    $('##{contentId}')
                        .modal('setting', 'closable', false)
                        .modal('show');
                }
else
    div(id=contentId class="ui segment" style="position:absolute; top:" + y +"px; right:"+ x +"px;")
        div(class="content")
          div(class="center")
            div(class="ui icon header")
              i(class="cube icon")
              | Würfelergebnis
            div(class="ui center roundedsquare_black")
              p #{result}
