div#lobby(class="middled")
  div(div class="ui attached message")
    div(class="header") Lobby
  div(class="ui center attached segment")
    div(class='header') Verbundene Spieler:
    div#lobby_players(class="ui relaxed divided list")
    button(class="ui center fluid primary button" type="button" onClick="rpcServer.playerReady('" + id + "');") bereit
