div(id='lobby_' + id, class='item')
  i(class='large spy middle aligned icon')
  div(class='content')
    div(class='description') Spielernummer: #{number}
    div(class='header') Spielername: #{player}
 
